.navbar{
    box-shadow: 2px 2px 5px #000;
    opacity: .9;
    margin-left: auto;
}

.navbar .nav-item .nav-link{
    color: #fff;
}

.nav-link{
    transition: all 500ms ease;
}

.nav-link:hover{
    transform: translateY(5%);
    
}

.navbar-brand{
    width: 10%;
}

.card{
    background: #52c234;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #061700, #52c234);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #0ebfcf , #0ca4c5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.card-title{
    font-family: Times New Roman;
    font-size: 30px;
   
}

.carta{
    padding-bottom: 20px;
    width: 60%;
    
}

.link{
    text-decoration: none;
}

.carta{
    margin-top: 20px;
}

.matricula{
    font-family: Times;
    margin-top: 32px;
     background-color: aliceblue;
}

.matricula2{
    font-family: Times;
    margin-top: 30px;
}

.requisitos{
    width: 90%;
    margin-top: 30px;
    box-shadow: 0 4px 20px gray;
    border-radius: 10px;
    margin-bottom: 20px;
}

.descargar{
    margin-bottom: 50px;
}

