svg{
    margin: 10px;
}

.linea{
    width: 100%;
    height: 2px;
    background-color: black;
}

.container{
    padding-bottom: 40px;
    justify-content: center;
}

.clases{
    margin-top: 20px;
    font-family: Times;
    background-color: azure;
}

.clases2{
    background-color: cornflowerblue;
    width: 80%;
    height: 500px;
}

li{
    font-family: Times;
    font-size: 40px;
    margin-left: 10px;
}